---
const {
  windowDataAttr,
  title,
  windowIcon,
  noPadding = false,
  showInStart = true,
} = Astro.props;
---

<style>
  .window {
    display: flex;
    flex-direction: column;
    min-width: 50rem;
    min-height: 35rem;
    max-width: 100%;
    max-height: 100%;
    width: 50rem;
    height: 35rem;
    position: absolute;
    z-index: 10;
    top: 5rem;
    left: 25rem;
    background-color: white;
    border-style: solid;
    border-color: #b5b3b3;
    border-width: 0px 5px 5px 5px;
    color: black;
    margin: 0 auto;
    box-shadow:
      2px 2px 2px black,
      -1px -1px 1px white;
    box-sizing: border-box;
    resize: both;
    overflow: auto;
  }
  .top-bar {
    background-color: #b5b3b3;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 1.7rem;
    display: flex;
    width: 100%;
  }
  .title {
    background: linear-gradient(to right, #0000aa, #0000aa88);
    width: inherit;
    height: inherit;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
  }
  .title-icon {
    margin-right: 5px;
  }
  .close-button,
  .minimize-button,
  .resize-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #b5b3b3;
    color: #000;
    width: 15px;
    font-size: 12px;
    height: 15px;
    margin-left: 5px;
    padding: 0.25px;
    box-shadow:
      1px 1px 1px black,
      -0.5px -0.5px 1px white;
  }
  .close-button:hover,
  .resize-button:hover,
  .minimize-button:hover {
    cursor: pointer;
  }
  .minimize-button b {
    padding-bottom: 4px;
  }
  .shadow {
    box-shadow: inset 2px 2px 2px black;
    flex-grow: 1;
    display: flex;
    overflow-y: hidden;
  }
  .content {
    line-height: 1.5rem;
    padding: 10px;
    overflow-y: auto;
    width: 100%;
    margin-top: 3px;
  }
</style>

<div
  style="display:none"
  class={"window" + (showInStart ? " show-in-start" : "")}
  data-window={windowDataAttr}
  data-title={title}
  data-icon={windowIcon}
>
  <div class="top-bar" data-title={windowDataAttr}>
    <div class="title">
      <img
        class="title-icon"
        src={`/images/${windowIcon}`}
        alt="Icon for Title"
        srcset=""
        height="18px"
        width="18px"
      />
      <span>{title}</span>
      <div style="flex-grow: 1;"></div>
      <div class="minimize-button" data-window={windowDataAttr}>
        <b>&UnderBar;</b>
      </div>
      <div class="resize-button" data-window={windowDataAttr}>
        <b>&#x2610;</b>
      </div>
      <div class="close-button" data-window={windowDataAttr}>
        <b>&#x2715;</b>
      </div>
    </div>
  </div>
  {
    noPadding ? (
      <>
        <slot />
      </>
    ) : (
      <>
        <div class="shadow">
          <div class="content">
            <slot />
          </div>
        </div>
      </>
    )
  }
</div>
